<section *ngIf="ready">
  <div class="container table-layout">
        <div class="row">
          <div class="col-12">
              <h1 class="title">News</h1><a href=""><i class="fa fa-pencil"></i></a>
              <div class="right">
                <form class="search"><input id='submit' name='submit' type="submit" value="search" class="btn search-btn"><label for="submit" class="submit"></label><a href="javascript: void(0)" class="search-icon"></a><input type="text" class="search-field"></form>
                <a class="btn-add">ADD NEW POST</a>
              </div>
          </div>
      </div>
  </div>
  <table-renderer [columns]="['_name']" [list]="instances"></table-renderer>
</section>
