<section>
  <div class="container table-layout" *ngIf="ready">
        <div class="row">
          <div class="col-12">
              <h1 class="title">News</h1><a href=""><i class="fa fa-pencil"></i></a>           
              <div class="right">
                <form class="search"><input id='submit' name='submit' type="submit" value="search" class="btn search-btn"><label for="submit" class="submit"></label><a href="javascript: void(0)" class="search-icon"></a><input type="text" class="search-field"></form>
                <a class="btn btn-inverted">ADD NEW POST</a>
              </div>
          </div>
      </div>
      <div class="row">
        <div class="col-12">
          <table class="table-style">
            <thead>
                <tr>
                  <th><input name="" type="checkbox" value=""></th>
<th>
                    <span>Post title</span>
                  </th><th>
                    <span>Status</span>
                  </th>
                  <th>
                    <span>Date</span>
                  </th>
                  <th>
                    <span>Actions</span>
                  </th>
                </tr>
            </thead>
        <tbody>
            <tr>
                <td><input name="" type="checkbox" value=""></td>
                <td>
                  Brody Jenner djing his Vegas birthday bash
                </td><td>
                  <span class="active">Active</span>
                </td>
                <td>
                  11/12/2015
                </td>
                <td>
                <span class="edit">Edit</span>
                <span class="delete-post">Delete</span>
                </td>
            </tr>
            <tr>
                <td><input name="" type="checkbox" value=""></td>
                <td>
                  Avril Lavigne celebrates 30th birthday at The Bank Nightclub
                </td><td>
                  <span class="active">Active</span>
                </td>
                <td>
                  09/29/2014
                </td>
                <td>
                  <span class="edit">Edit</span>
                  <span class="delete-post">Delete</span>
                </td>
            </tr>
            <tr>
                <td><input name="" type="checkbox" value=""></td>
                <td>
                  Brody Jenner djing his Vegas birthday bash
                </td><td>
                  <span class="active">Active</span>
                </td>
                <td>
                  11/12/2015
                </td>
                <td>
                <span class="edit">Edit</span>
                <span class="delete-post">Delete</span>
                </td>
            </tr>
            <tr>
                <td><input name="" type="checkbox" value=""></td>
                <td>
                  Avril Lavigne celebrates 30th birthday at The Bank Nightclub
                </td><td>
                  <span class="active">Active</span>
                </td>
                <td>
                  09/29/2014
                </td>
                <td>
                  <span class="edit">Edit</span>
                  <span class="delete-post">Delete</span>
                </td>
            </tr>
                        <tr>
                <td><input name="" type="checkbox" value=""></td>
                <td>
                  Brody Jenner djing his Vegas birthday bash
                </td><td>
                  <span class="draft">Draft</span>
                </td>
                <td>
                  11/12/2015
                </td>
                <td>
                <span class="edit">Edit</span>
                <span class="delete-post">Delete</span>
                </td>
            </tr>
            <tr>
                <td><input name="" type="checkbox" value=""></td>
                <td>
                  Avril Lavigne celebrates 30th birthday at The Bank Nightclub
                </td><td>
                  <span class="active">Active</span>
                </td>
                <td>
                  09/29/2014
                </td>
                <td>
                  <span class="edit">Edit</span>
                  <span class="delete-post">Delete</span>
                </td>
            </tr>
            <tr>
                <td><input name="" type="checkbox" value=""></td>
                <td>
                  Brody Jenner djing his Vegas birthday bash
                </td><td>
                  <span class="active">Active</span>
                </td>
                <td>
                  11/12/2015
                </td>
                <td>
                <span class="edit">Edit</span>
                <span class="delete-post">Delete</span>
                </td>
            </tr>
            <tr>
                <td><input name="" type="checkbox" value=""></td>
                <td>
                  Avril Lavigne celebrates 30th birthday at The Bank Nightclub
                </td><td>
                  <span class="draft">Draft</span>
                </td>
                <td>
                  09/29/2014
                </td>
                <td>
                  <span class="edit">Edit</span>
                  <span class="delete-post">Delete</span>
                </td>
            </tr>
            <tr>
                <td><input name="" type="checkbox" value=""></td>
                <td>
                  Brody Jenner djing his Vegas birthday bash
                </td><td>
                  <span class="active">Active</span>
                </td>
                <td>
                  11/12/2015
                </td>
                <td>
                <span class="edit">Edit</span>
                <span class="delete-post">Delete</span>
                </td>
            </tr>
            <tr>
                <td><input name="" type="checkbox" value=""></td>
                <td>
                  Avril Lavigne celebrates 30th birthday at The Bank Nightclub
                </td><td>
                   <span class="active">Active</span>
                </td>
                <td>
                  09/29/2014
                </td>
                <td>
                  <span class="edit">Edit</span>
                  <span class="delete-post">Delete</span>
                </td>
            </tr>
        </tbody>
    </table>
        </div>
      </div>
  </div>
</section>
