<div class="section-header">
	<h1 class="heading-medium"></h1>
</div>
<spinner [ready]="ready"></spinner>
<div class="calendar" *ngIf="ready">
	<header>
	<div class="calendar-current">
		<div class="central-label">
			<div class="current-month">

			</div>
		</div>
	</div>
	</header>
	<div class="calendar-inner">
		<div class="calendar-main">
	    <div *ngFor="let year of dates.years | keys">
	      <year (reservationClick)="onReservationClick($event)" [year]="dates.years[year]" [y]="year" ></year>
	    </div>
		</div>
	</div>
</div>
