.filemanager-container{
  display: table;
  margin:-23px;
  box-sizing: border-box;
  width: 97vw;
  height: 90vh;
  position: relative;
}

.folders-col{
  position: absolute;
  left: 0;
  top: 50px;
  bottom:0;
  width: 200px;
  overflow-y: scroll;
}

.filemanager-top-nav{
  position: absolute;
  top: 0;
  width: 100%;
  height: 50px;
}

.folders-col ul{
  width: 100%;
  margin:0;
  height: 100%;
  background: #0da0fd;
}

.folders-col li{
  width: 100%;
  display: block;
  cursor: pointer;
}

.folders-col li > a{
  background: #0da0fd;
  width: 100%;
  display: block;
  padding: 10px 5px;
  color : #fff;
  border-bottom: 1px solid #fff;
}

.folders-col li > a:hover,
.filemanager-button:hover{
  background: #73c9ff;
}

.filemanager-current{
  position: absolute;
  left: 200px;
  right: 0;
  top: 50px;
  bottom: 0;
}

ul.horizontal-list{
  display: table;
}

ul.horizontal-list > li{
  display: table-cell;
  font-size: 20px;
  padding: 5px 10px;
}

.top-of-folder{
  width: 200px;
  height: 50px;
  font-size: 20px;
  background: #0089e0;
}
.breadcrumb{
  position: absolute;
  left:200px;
  top:0;
  right: 0;
  height: 50px;
}

.filemanager-options{
  position: absolute;
  bottom: -30px;
  height: 30px;
  width: 200px;
}

.filemanager-button{
  width: 100px;
  float: left;
  height: 30px;
  color: #fff;
  cursor: pointer;
  background: #0089e0;
}
