<modal class="animated fadeInUp">
    <div class="filemanager-container">
        <section class="content-thumbs" style="width:100%;height:100%;">
            <button (click)="cancel()" class="fa fa-times close-btn"></button>
            <div class="content-thumbs-col-left">
                <a (click)="mobileToggleFolders()" class="folder-plus cf">Folders<i class="fa fa-angle-down" aria-hidden="true"></i></a>
                <a *ngIf="!newFolderInput" (click)="newFolderInput=true" class="btn-add">ADD FOLDER</a>
                <div *ngIf="newFolderInput" class="form-files">
                    <label class="label-form">New folder name</label>
                    <input [disabled]="loading" [(ngModel)]="newFolderName" type="text">
                    <button (click)="resetFolderInput()" class="btn cancel-btn">CANCEL</button>
                    <button (click)="newFolder()" class="btn">ADD FOLDER</button>

                </div>

                <div [class.show-folders]="mobileFolders" class="content-overflow">
                    <ul class="list-of-folders" *ngIf="!loading">
                        <li *ngFor="let item of current | keys" >
                            <a *ngIf="item !== '_files'" (click)="openFolder(item)">
                                <i class="fa fa-folder" aria-hidden="true"></i>{{item}}
                            </a>
                        </li>
                    </ul>
                </div>

                <a (click)="cancel()" class="btn cancel-btn"><span>CANCEL</span></a>

            </div>
            <div class="content-thumbs-col-right">

                <div class="breadcrumbs">
                    <a *ngFor="let folder of path; let i = index" class="breadcrumbs-item" (click)="goToFolder(i)">
                        <span *ngIf="i>0">{{folder}}</span><i *ngIf="i==0" class="fa fa-home"></i>
                    </a>
                </div>
                <header class="header-title cf">
                    <h2>Media Files</h2>
                    <div class="right">
                        <a *ngIf="!loading" (click)="inputFile.click()" class="btn-add">Add files</a>
                    </div>
                    <input style="display:none" #inputFile type="file" multiple [accept]="(accept.length>0) ? accept.join(',') : ''" (change)="fileChange($event)" placeholder="Upload file" >
                </header>
                <span *ngIf="!loading && current._files.length < 1" class="message-not-found">No files found.</span>

                <div class="content-overflow">
                    <spinner *ngIf="loading"></spinner>
                    <div *ngIf="!loading">
                        <figure class="thumb" [class.selected]="file.selected" *ngFor="let file of current._files" (click)="selectFile(file)">
                            <div class="thumb-image" *ngIf="file.isImage">
                                <img [src]="file.src" alt="">
                                <div class="content-name"> <span>{{file.name}}</span></div>
                            </div>

                            <span class="video-file" *ngIf="!file.isImage">{{file.src}}
                                <span class="content-icon"><i class="fa fa-file-video-o"></i></span>
                                <div class="content-name"> <span>{{file.name}}</span></div>
                            </span>
                        </figure>
                    </div>
                </div>

                <div *ngIf="selected().length > 0 && !loading" class="box-buttons-image">
                    <a class="btn-ok" (click)="save()">
                        <i class="fa fa-check"></i><span>SELECT</span>
                    </a>
                    <a class="btn-del" (click)="deleteSelected()">
                        <i class="fa fa-times"></i><span>DELETE</span>
                    </a>
                </div>
            </div>
        </section>
    </div>
</modal>
