<!-- SIDEBAR START -->


  <div class="sidebar-set" *ngIf="PdService._state.indexOf('loading venues') < 0 || PdService.index.venues.length >= 1">
    <h4 class="set-header">
      <span class="arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
      Venues
    </h4>
    <ul style="display:none">
      <li *ngFor="let venue of venues, let i = index" (click)="toggle('venue',venue,i)" [class.active]="active.venue[i]">
        <a href="javascript:void(0);">{{venue.title}}</a>
      </li>
    </ul>
  </div>



  <div class="sidebar-set" *ngIf="PdService._state.indexOf('loading artists') < 0 || PdService.index.artists.length >= 1">
    <h4 class="set-header">
      <span class="arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
      Artists
    </h4>
    <ul style="display:none">
      <li *ngFor="let artist of artists, let i = index" (click)="toggle('artist',artist,i)" [class.active]="active.artist[i]">
        <a href="javascript:void(0);">{{artist.name}}</a>
      </li>
    </ul>
  </div>




<!-- SIDEBAR END -->
