.image-field-container{
	background-position: center;
	background-repeat: repeat;
	background-image: url('../images/transparency-bg.png');
}
.image-field-container img{
	display: table;
}
.box {
	background: white;
	padding: 23px;
	@include box-shadow;
	margin-bottom: 40px;
	.acc-panel {
		position: relative;
	}
	.panel {
		border-top: 1px solid #f1f1f1;
		padding-top: 20px;
		margin-top: 20px;
		molecule-renderer:first-of-type {
			.label-form {
				margin-top: 0;
			}
		}
	}
	div:first-of-type {
		> div:first-of-type {
			> label {
				margin-top: 0;
			}
		}
	}

}
.card {
	transition: transform .2s;
	margin-bottom: 0;
	&::after {
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    transition: opacity 2s cubic-bezier(.165, .84, .44, 1);
	    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .15);
	    content: '';
	    opacity: 0;
    	z-index: -1;
  	}
  	&:hover,
  	&:focus {
	    transform: scale3d(1.006, 1.006, 1);

	    &::after {
	      opacity: 1;
	    }
	}
	&:first-of-type {
		margin-top: 30px;
	}
}
.box-details {
    background: $gray-dark;
    color: #fff;
    margin-bottom: 0;
    margin-top: -1px;
    position: relative;
	@include transition;
    > * {
	    margin-bottom: 2px;
		@include transition;
	}
	h2 {
	    font-weight: 600;
	    margin-bottom: 12px;
	    letter-spacing: 0.02em;
	}
	p {
	    color: $gray-medium;
	    font-size: 14px;
	    letter-spacing: 0.02em;
	}
}
.to-site {
	&:hover {
        img {
            -moz-transform: scale(1.02);
            -webkit-transform: scale(1.02);
            -o-transform: scale(1.02);
            -ms-transform: scale(1.02);
            transform: scale(1.02);
        }
		.box-details {
			background: $accent-color;
			h2,p {
				color: white;
			}
		}
	}
}
.site-def {
	.col-2 {
		float: left;
   		padding-bottom: 0;
		> div {
			position: relative;
			div {
			    position: absolute;
			    top: 0;
			    color: white;
			    right: 0;
			    padding: 10px;
			    background: $accent-color;
			    width: 10px;
			    cursor: pointer;
			    &:hover {
					background: darken($accent-color,5%);
				}
				&:last-of-type{
				    top: 38px;
				}
			}
		}
	}
}
column,row{
	display: block;
}
column {
	margin-left: -15px;
	margin-right:  -15px;
}
column > div[class^="col-"]{
	float: left;
}
row .row{
	width: 100%;
}
.edit-buttons {
	float: right;
	li {
		display: inline-block;
		vertical-align: middle;
		.fa {
			font-size: 20px;
			padding: 0 5px;
			color: $accent-color;
			position: relative;
			top: -3px;
			&.fa-plus {
				color: $accent-color;
			}
			&.fa-pencil {
				 color: $accent-color;

			}
			&:hover {
				opacity: .8;
			}
		}
	}
}
.fa-pencil {
	color: $accent-color;
}

div.fa.fa-pencil,
div.fa.fa-times {
	padding: 10px 15px!important;
	@include transition;
	&:after {
		font-family: $primary-font;
		font-size: 9px;
		position: relative;
		left: -4px;
		top: 3px;
		display: block;
		text-align: center;
	}
	&:hover{
		background: darken($accent-color,15%)!important;
	}
}
div.fa.fa-pencil {
	&:after {
		content: "EDIT";
	}
}
div.fa.fa-times {
	top: 45px!important;
	&:after {
		content: "DELETE";
		position: relative;
		left: -9px;
	}
}

.box-buttons {
	border-top: 1px solid #f1f1f1;
	margin-top: 20px;
	padding-top: 30px;
}
.line-border {
	border: 1px solid darken($gray-light, 10%);
	padding: 15px;
	background: #f1f1f1;
	position: relative;
	input, select, textarea {
		background: white;
	}
}
.margin-bottom {
	margin-bottom: 30px;
}

.search {
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.search-field {
  -webkit-appearance: none;
  height: 35px;
  width: 0;
  position: absolute;
  padding: 0;
  opacity: 0;
  border: none;
  outline: none;
  position: absolute;
  right: 60px;
  background: none;
  border-bottom: 1px solid #dedede!important;
}

#submit {
  display: none;
}

.submit, .search-icon {
  position: absolute;
  top: 10px;
  right: 0;
}

.submit:after,.search-icon:after {
    font-family: FontAwesome;
    content: "\f002";
    color: #00c4cc;
    font-size: 20px;
    padding: 9px 30px;
    cursor: pointer;
}

.image-field-container{
	font-size: 0;
	img {
		max-width: 300px;
	}
	.edit-field {
		display: block;
		width: 100%;
		max-width: 300px;
		text-align: center;
		background: $accent-color;
		cursor: pointer;
		color: $white;
		padding: 10px 0;
		font-size: 12px;
		font-weight: 600;
		letter-spacing: 0.02em;
		text-transform: uppercase;
		@include transition;
		&:hover {
			background: darken($accent-color,5%);
		}
	}
}

.post-layout {
	.col-10 {
		.no-margin {
			background: none;
		    box-shadow: none;
		    padding: 0;
		}
	}
	.panel{
		padding-top: 0;
		margin-top: 0;
		border-top: none;
	}
}

.categories {
	border: 1px dashed #dadada;
	padding: 20px;
	.tag {
		background: $accent-color;
	    color: $white;
	    padding: 5px 10px;
	    font-size: 14px;
	    letter-spacing: 0.02em;
	    border-radius: 5px;
	    font-weight: 600;
	    cursor: default;
		&:after {
			content: '\f00d';
			@include fontawesome;
			margin-left: 10px;
   			cursor: pointer;
   			margin-top: -3px;
		}
		&:hover{
			background: darken($accent-color,5%);
		}
	}
	.tag-add {
		background: none;
		color: #b1b1b1;
		cursor: pointer;
		&:before {
			@extend .btn-add:before;
		}
		&:after {
			display: none;
		}
		&:hover{
			background: none;
		}
	}
}

.add-molecule {
	margin-top: 40px;
	h3 {
		color: $secondary-text-color;
		padding-top: 15px;
	}
	.ngui-auto-complete-wrapper{
		input {
			border: none;
    		background: #ececec;
    		margin-top: 20px;
		}
	}
	.btn-add {
		margin-bottom: 10px;
	}
}

// 768px
@media all and (min-width: $screen-portrait) {
	.card {
		margin-bottom: 40px;
		&:first-of-type {
			margin-top: 0;
		}
	}
}

// 992px
@media all and (min-width: $screen-landscape) {
}

// 1200px
@media all and (min-width: $screen-desktop) {
}
