.image-field-container{
	background-position: center;
	background-repeat: repeat;
	background-image: url('../images/transparency-bg.png');
}
.image-field-container img{
	display: table;
}
.box {
	background: white;
	padding: 23px;
	@include box-shadow;
	margin-bottom: 40px;
	.acc-panel {
		position: relative;
	}
	.panel {
		border-top: 1px solid #f1f1f1;
		padding-top: 20px;
		margin-top: 20px;
	}

}
.box-details {
    background: $primary-color-dark;
    color: #fff;
    padding: 15px 5px 15px 20px;
	@include transition;
    > * {
	    margin-bottom: 2px;
		@include transition;
	}
	h2 {
		font-weight: bold;
	}
	p {
		color: #999;
		font-style: italic;
	}
}
.to-site {
	&:hover {
        img {
            -moz-transform: scale(1.02);
            -webkit-transform: scale(1.02);
            -o-transform: scale(1.02);
            -ms-transform: scale(1.02);
            transform: scale(1.02);
        }
		.box-details {
			background: $accent-color;
			h2,p {
				padding-left: 5px;
				color: white;
			}
		}
	}
}
.site-def {
	.col-2 {
		float: left;
   		padding-bottom: 0;
		> div {
			position: relative;
			div {
			    position: absolute;
			    top: 0;
			    color: white;
			    right: 0;
			    padding: 10px;
			    background: $accent-color;
			    width: 10px;
			    cursor: pointer;
			    &:hover {
					background: darken($accent-color,5%);
				}
				&:last-of-type{
				    top: 38px;
				}
			}
		}
	}
}
column,row{
	display: block;
}
column {
	margin-left: -15px;
	margin-right:  -15px;
}
column > div[class^="col-"]{
	float: left;
}
row .row{
	width: 100%;
}
.edit-buttons {
	float: right;
	li {
		display: inline-block;
		vertical-align: middle;
		.fa {
			font-size: 20px;
			padding: 0 5px;
			color: $accent-color;
			position: relative;
			top: -3px;
			&.fa-plus {
				color: $accent-color;
			}
			&.fa-pencil {
				 color: $accent-color;

			}
			&:hover {
				opacity: .8;
			}
		}
	}
}
.fa-pencil {
	color: $accent-color;
}

div.fa.fa-pencil,
div.fa.fa-times {
	padding: 10px 15px!important;
	@include transition;
	&:after {
		font-family: $primary-font;
		font-size: 9px;
		position: relative;
		left: -4px;
		top: 3px;
		display: block;
		text-align: center;
	}
	&:hover{
		background: darken($accent-color,15%)!important;
	}
}
div.fa.fa-pencil {
	&:after {
		content: "EDIT";
	}
}
div.fa.fa-times {
	top: 45px!important;
	&:after {
		content: "DELETE";
		position: relative;
		left: -9px;
	}
}

.box-buttons {
	border-top: 1px solid #f1f1f1;
	margin-top: 20px;
	padding-top: 30px;
}
.line-border {
	border: 1px solid darken($gray-light, 10%);
	padding: 15px;
	background: #f1f1f1;
	position: relative;
	input, select, textarea {
		background: white;
	}
}
.margin-bottom {
	margin-bottom: 30px;
}

// 768px
@media all and (min-width: $screen-portrait) {

}

// 992px
@media all and (min-width: $screen-landscape) {
}

// 1200px
@media all and (min-width: $screen-desktop) {
}
