.btn {
	background: $accent-color;
	color: white;
	padding: 15px 5px;
	display: inline-block;
	width: 100%;
	cursor:pointer;
	text-align: center;
	@include border-box;
	margin-bottom: 10px;
	font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.05em;
    text-transform: uppercase;
	&.btn-cancel {
		background: #666;
		&:hover {
			background: #222;
		}
	}
	&.btn-save {
		background: $accent-color;
		margin-bottom: 0;
		&:hover {
			background: darken($accent-color,5%);
		}
	}
	&.btn-inverted {
		background:transparent;
		border:2px solid $accent-color;
		color: $accent-color;
		&:hover{
			color: #fff;
			background: $accent-color;
		}
	}
	&.btn-draft {
		background: none;
		border: 2px solid $accent-color;
		color: $accent-color;
		margin-top: 20px;
		&:hover {
			border-color: darken($accent-color,5%);
			color: darken($accent-color,5%);
		}
	}
	&.btn-trash {
		background: none;
		color: #b7b7b7;
		margin-top: 10px;
		&:before {
			content: "\f1f8";
			@include fontawesome;
			margin-right: 10px;
			margin-top: -2px;
			vertical-align: middle;
		}
		&:hover {
			color: darken(#b7b7b7,10%);
		}
	}
}
input .btn {
	border: none;
}
button {
	font-family: $primary-font;
	background: none;
	border: 2px solid $accent-color;
	color: $accent-color;
	min-width: 150px;
    padding: 13px 8px;
	font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.05em;
    line-height: inherit;
    cursor: pointer;
    &:hover {
		border-color: darken($accent-color,5%);
		color: darken($accent-color,5%);
	}
}
.btn-add {
	@extend .btn;
	opacity:0.7;
	margin-top: 15px;
	background: transparent;
	border: 2px solid $accent-color;
	width: 100%;
	color : $accent-color;
	padding: 10px;
	@include center;
	text-align: center;
	&.active{
		font-size: 18px;
		background: darken($accent-color,5%);
		padding:20px;
		border-color: darken($accent-color,5%);
		margin-right: 0;
		&:before {
			-moz-transform: rotate(45deg);
			-webkit-transform: rotate(45deg);
			-o-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			transform: rotate(45deg);
		}
		color: white !important;
	}
	&:before {
		content: "\f067";
		@include fontawesome;
		margin-right: 10px;
		vertical-align: middle;
		@include transition;
	}
	&:hover {
		opacity:1.0;
		background: darken($accent-color,5%);
		border-style: solid;
		border-color: darken($accent-color,5%);
		color: white;
		&:before {
			-moz-transform: rotate(90deg);
			-webkit-transform: rotate(90deg);
			-o-transform: rotate(90deg);
			-ms-transform: rotate(90deg);
			transform: rotate(90deg);
		}
	}
}

.right{
	.btn-add{
	    margin-top: 0;
	    width: auto;
	}
}

.delete-slide {
	right: 23px;
	top: 22px;
	position: absolute;
	display: inline-block;
	z-index: 999;
	width: 20px;
	height: 20px;
	&:before {
		content: "✕";
    color: white;
	}
	&:hover {
		@include transition;
		&:before {
			color: $brand-atention;
			-moz-transform: rotate(90deg);
			-webkit-transform: rotate(90deg);
			-o-transform: rotate(90deg);
			-ms-transform: rotate(90deg);
			transform: rotate(90deg);
		}
	}
}

.btns {
	display: inline-block;
	border: 1px solid $brand-secondary;
	color: $brand-secondary;
	padding: 5px;
	@include border-box;
	margin: 10px 10px 10px 0;
	font-size: 14px;
	&:hover {
		color: darken($brand-secondary, 10%);
	}
	i {
		margin-right: 5px;
	}
	&.remove {
		color: $brand-atention;
		border: 1px solid $brand-atention;
		&:hover {
			color: darken($brand-atention, 10%);
		}
	}
}

.btn-edit,
.btn-delete {
	position: absolute;
	top: 0;
	color: white;
	right: 0;
	padding: 10px;
	background: $accent-color;
	width: 50px;
	cursor: pointer;
	border-bottom: 1px solid darken($accent-color,4%);
	border-left: 1px solid darken($accent-color,4%);
	&:after,
	&:before {
		color: white;
		display: inline-block;
		vertical-align: middle;
	}
	&:before {
		@include fontawesome;
		content: "\f040";
		font-size: 15px;
		position: relative;
		top: -2px;
	}
	&:after {
		content: "EDIT";
		font-family: $primary-font;
		font-size: 10px;
		margin-left: 4px;
	}
	&:hover{
		background: darken($accent-color,15%)!important;
		border-bottom: 1px solid darken($accent-color,15%);
		border-left: 1px solid darken($accent-color,15%);
	}
}

.btn-delete {
	top: 38px;
	&:before {
		content: "\f00d";
	}
	&:after {
		content: "DELETE";
	}
}

// 768px
@media all and (min-width: $screen-portrait) {
	.btn {
		width: auto;
		min-width: 150px;
		margin-bottom: 0;
		display: inline-block;
		&.btn-cancel {
			float: left;
		}
		&.btn-save {
			margin-left:auto;
		}
	}
	.site-def {
		.btn {
			&.btn-save {
				margin-top: 15px;
				float: none;
			}
		}
	}
	.btn-add {
		float: none;
		width: 100%;
	}
}
.btn-pick-img{
	padding: 50px 100px;
	border-style: dashed;
}

// 992px
@media all and (min-width: $screen-landscape) {
}

// 1200px
@media all and (min-width: $screen-desktop) {
}
