.row {
	font-size: 0;
	// margin-left:-15px;
	// margin-right: -15px;
}
.col-2, .col-3, .col-4, .col-5, .col-6, .col-12 {
	font-size: 16px;
	padding-bottom: 15px;
	@include border-box;
}
// 768px
@media all and (min-width: $screen-portrait) {
	.col-2, .col-3, .col-4, .col-5, .col-6, .col-12 {
		display: inline-block;
		vertical-align: top;
		padding: 0 15px 15px 15px;
		width: 20%;
	}
	.col-3 {
		width: 25%;
	}
	.col-4 {
		width: 33.333333%;
	}
	.col-5 {
		width: 40%;
	}
	.col-6 {
		width: 50%;
	}
	.col-12 {
		width: 100%;
	}
}

// 992px
@media all and (min-width: $screen-landscape) {
}

// 1200px
@media all and (min-width: $screen-desktop) {
}
