.box-login {
	display: table;
	width: 100%;
	height: 100%;
	text-align: center;
	background: url(../images/bkg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;
	padding: 50px 15px;
	@include border-box;
	&:before {
		content: "";
		background: rgba(255,255,255,.1);
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: 1;
	}
	.login {
		display: table-cell;
		width: 100%;
		vertical-align: middle;
		position: relative;
		z-index: 2;
	}
}
.box-login-cms {
	border: 1px solid #555;
	max-width: 500px;
	@include center;

	.fa-lock {
		color: white;
		font-size: 30px;
		display: inline-block;
		vertical-align: middle;
		margin-right: 10px;
		position: relative;
		top: -2px;
		opacity: 0.2;
	}
	h2 {
		padding: 20px;
		padding-bottom: 0;
		color: $gray-medium;
		font-weight: 400;
		font-size: 28px;
		text-align: left;
		letter-spacing: 3px;
	}
	small {
		font-size: 12px;
		color: $gray;
		a {
			color: $brand-secondary;
			text-decoration: underline;
			&:hover {
				color: $gray;
			}
		}
	}
}
.cms-login {
	padding: 35px 25px 25px 25px;
	input, button {
		width: 100%;
		height: 50px;
		background: $gray-light;
		@include border-box;
		font-family: $primary-font;
		font-size: 18px;
		margin-bottom: 20px;
		padding: 10px;
		border: 0;
	}
	input {
		&:-webkit-autofill {
		    opacity: 0.8;
			-webkit-box-shadow: 0 0 0 30px $gray-light inset;
			box-shadow: 0 0 0 30px $gray-light inset;
			&:hover,
			&:focus,
			&:active {
				opacity: 1;
			}
		}
	}
	button {
		background: none;
		color: $accent-color;
		border: 2px solid $accent-color;
		text-transform: uppercase;
		padding: 0;
		margin: 20px 0;
		@include transition;
		cursor: pointer;
		position: relative;
		max-width: 140px;
		opacity: 0.6;
		&:before {
			content: "LOGIN";
			z-index: 9;
			position: relative;
		}
		&:hover {
			border-color: darken($accent-color, 10%);
			color: darken($accent-color, 10%);
			opacity: 1;
		}
	}
}
// 768px
@media all and (min-width: $screen-portrait) {

}

// 992px
@media all and (min-width: $screen-landscape) {

}

// 1200px
@media all and (min-width: $screen-desktop) {
}
