.newtable {
    margin-bottom: 40px;
}

table.table-style {
    table-layout: fixed;
    text-align: left;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #f1f1f1;
    thead {
        background: $primary-color-dark;
        color: white;
        th {
            padding: 10px 20px;
        }
        tr:hover {
            background: transparent;
        }
    }
    thead th:nth-child(1) {
        width: 5%;
    }
    thead th:nth-child(2) {
        width: 35%;
    }
    tr {
        border: none;
    }
    th, td {
        padding: 20px;
        vertical-align: top;
        line-height: 1.4em;
        border-bottom: 1px solid #f5f5f5;
    }
    tr:nth-child(even) td {
        background: #ffffff;
    }
    tr:nth-child(odd) td {
        background: #ffffff;
    }
    tr:hover {
        background: #F9f9f9;
    }

    input[type="checkbox"] {
        opacity: 1;
        margin-top: 3px;
    }
    .box {
        background: #f9f9f9;
    }
    molecule-save {
        span {
            text-align: right;
            width: 100%;
            display: inline-block;
            background: #f9f9f9;
            padding-bottom: 25px;
            padding-right: 20px;
            margin-bottom: 20px;
            @include box-shadow;
            @include border-box;
            .btn-save,
            .btn-cancel{
                float: none;
            }
        }
    }
    .active {
        color: #6bc452;
    }
    .draft{
        color: $secondary-text-color;
    }
    .edit {
        text-transform: uppercase;
        font-size: 14px;
        color: $accent-color;
        cursor: pointer;
        font-weight: 600;
        letter-spacing: 0.02em;
        padding-right:20px;
        &:hover {
            color:darken($accent-color,5%)
        }
    }
    .delete-post{
        @extend .edit;
        padding-right: 0;
    }
}

.link-table {
    color: black;
    font-weight: bold;
    display: inline-block;
    &:hover {
        color: $accent-color;
    }
}


.no-padding{
  padding: 0 !important;
  background: none;
}

.no-margin{
  margin: 0 !important;
}

input[type='checkbox'] {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: top;
    margin-top: 4px;
    &:before{
        content: '';
        margin-right: 10px;
        display: inline-block;
        vertical-align: text-top;
        width: 15px;
        height: 15px;
        background: white;
        border: 1px solid #dadada;
    }
    &:checked:before {
        background: $accent-color;
        border-color: $accent-color;
    }
    &:disabled:before {
        box-shadow: none;
        background: #ddd;
    }
    &:checked:after {
        content: '';
        position: absolute;
        left: 4px;
        top: 8px;
        background: white;
        width: 2px;
        height: 2px;
        box-shadow: 
          2px 0 0 white,
          4px 0 0 white,
          4px -2px 0 white,
          4px -4px 0 white,
          4px -6px 0 white,
          4px -8px 0 white;
        transform: rotate(45deg);
        -webkit-backface-visibility: hidden;
      }
}
.checkbox-input {
   position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: top;
    margin-top: 4px;
    &:before{
        content: '';
        margin-right: 10px;
        display: inline-block;
        vertical-align: text-top;
        width: 15px;
        height: 15px;
        background: white;
        border: 1px solid #dadada;
    }
    &.checked:before {
        background: $accent-color;
        border-color: $accent-color;
    }
    &.disabled:before {
        box-shadow: none;
        background: #ddd;
    }
    &.checked:after {
        content: '';
        position: absolute;
        left: 4px;
        top: 8px;
        background: white;
        width: 2px;
        height: 2px;
        box-shadow: 
          2px 0 0 white,
          4px 0 0 white,
          4px -2px 0 white,
          4px -4px 0 white,
          4px -6px 0 white,
          4px -8px 0 white;
        transform: rotate(45deg);
        -webkit-backface-visibility: hidden;
      }
}

// 768px
@media all and (min-width: $screen-portrait) {
}

// 992px
@media all and (min-width: $screen-landscape) {
}

// 1200px
@media all and (min-width: $screen-desktop) {
}
