<div *ngIf="data._editable_value || userRole > 9000">
  <ul *ngIf="data._child.length > 0" [dragula]=' "bag-"+data._path.join("-") ' [dragulaModel]='data._child'>
    <li  *ngFor="let child of data._child; let i = index" >
      <mutation [class.isDraggable]="data._editable_value || userRole > 9000" *ngIf="child._visible_field || userRole > 9000" [userRole]="userRole" [data]="child" ></mutation>
    </li>
  </ul>
</div>


<div *ngIf="!(data._editable_value || userRole > 9000)">
  <ul *ngIf="data._child.length > 0">
    <li  *ngFor="let child of data._child; let i = index"  >
      <mutation *ngIf="child._visible_field || userRole > 9000" [userRole]="userRole" [data]="child" ></mutation>
    </li>
  </ul>
</div>
