<ul *ngIf="ready">
  <li class="branch-handler">
    <div>> {{_tree._name}}</div>
  </li>
  <li>
    <ul class="branch-level">
      <li *ngFor="let childBranch of _tree._branches._value">
        <ng-container *ngIf="childBranch._checked || !output_branch_only">
          <molecule-hierarchy-tree-branch
            [single_value]="single_value"
            [branchSelectionList]="_selection"
            (branchClick)="branchChanged($event)"
            [output_branch_only]="output_branch_only"
            [disable_top_level]="disable_top_level"
            [hide_instance_values]="hide_instance_values"
            (treeUpdated)="branchChanged($event)"
            (selected)="childChecked(childBranch)" [parent]="_tree" [branch]="childBranch"></molecule-hierarchy-tree-branch>
        </ng-container>
      </li>
    </ul>
  </li>
</ul>

<div>
  <div class="btn" (click)="log(_tree)">
    _tree
  </div>
</div>
