<section class="box-arrow to-left">
  <div class="col with-image">
    <img src="<%= home.about.image %>" alt="">
  </div>
  <div class="col brand-bg">
    <h2><%= home.about.title %></h2>
    <p><%- home.about.paragraph.replace(/\n/g,"<br>") %></p>

  </div>
</section>
