<section class="box-image-top" style="background: url('<%= background %>') center 0 / cover no-repeat;">
  <div class="container">
    <h1><%- title.replace(/\n/g,"<br>") %></h1>
      <p><%- paragraph.replace(/\n/g,"<br>") %></p>
  </div>
</section>
