<section class="box-arrow to-right">
  <div class="col">
    <h2><%- home.private_events.title.replace(/\n/g,"<br>") %></h2>
    <p><%- home.private_events.paragraph.replace(/\n/g,"<br>") %></p>
  </div>
  <div class="col with-image">
    <img src="<%= home.private_events.image %>" alt="">
  </div>
</section>
