$screen-portrait      :  768px;
$screen-landscape     :  992px;
$screen-desktop       :  1200px;

$brand-primary        : #B42423;

$primary-font         : 'Lato', sans-serif;
$secondary-font       : 'freight-big-pro', serif;

$gray-light           : #f4f4f4;
$gray                 : #AAA;
$gray-dark            : #444;
