<div *ngIf="validMolecule">
  <div *ngIf="hasName">
    <h3>Name:</h3>
    <input type="text" [(ngModel)]="molecule._name">
  </div>
  <h3>Can:</h3>
  <div class="col-3" *ngFor="let key of molecule._can | keys ">
    <div (click)="canChange(key)" class="checkbox" [class.checked]="molecule._can[key]">
        <ng-checkbox [checked]="molecule._can[key]"></ng-checkbox>
        <span class="checkbox-label" [innerHTML]="key.replace('_',' ')">
        </span>
    </div>
  </div>

  <div *ngIf="hasOptions">
    <h3>Options:</h3>
    <div class="col-3" *ngFor="let key of molecule._options | keys ">

      <div *ngIf="isBoolean(molecule._options[key])" (click)="optionsChange(key)" class="checkbox" [class.checked]="molecule._options[key]">
        <ng-checkbox [checked]="molecule._options[key]"></ng-checkbox>
        <span class="checkbox-label" [innerHTML]="key.replace('_',' ')"> </span>
      </div>

      <div *ngIf="isString(molecule._options[key])">
        <span class="checkbox-label" [innerHTML]="key.replace('_',' ')"> </span>
        <input type="text" [(ngModel)]="molecule._options[key]">
      </div>

      <div *ngIf="isComplex(molecule._options[key])">
        <span class="checkbox-label" [innerHTML]="key.replace('_',' ')"> </span>
        <molecule-renderer
          (valueChange)="molecule._options[key]._value = $event"
          [component]="getComponent(molecule._options[key]._ngComponentName)"
          [options]="molecule._options[key]._options">
        </molecule-renderer>
      </div>

    </div>
  </div>
</div>
