molecule-hierarchy-tree-branch ul.branch-level{
  padding-left: 30px;
}

li.branch-handler{
  background: #eee;
  cursor: pointer;
  padding: 10px;
}

li.branch-handler:hover{
  background: #ccc;
}

.toggleAllButton{
  padding: 10px 15px;
  background: #999;
  color: #ddd;
  cursor: pointer;
}

ng-checkbox{
  cursor: pointer;
}

.toggleAllButton.active{
  background: #38c;
  color: #FFF;
}

ul.horizontal{
  display: table;
}

ul.horizontal > li{
  display: table-cell;
}

.selected-branch .branch-handler{
  background: #3996ea;
  color: #fff;
}

.branch-handler{
  position: relative;
  margin-top: 15px;
}

molecule-hierarchy-tree-branch ul.branch-level > li.branch-handler:before {
  content: "";
  position: absolute;
  border-bottom:1px solid #ccc;
  border-left:1px solid #ccc;
  top:0;
  z-index: 0;
  bottom: 20px;
  left: -15px;
  right: 0;
  max-width: 10px;
}

molecule-hierarchy-tree-branch ul.branch-level > li.branch-handler {
  margin-top: 0px;
  border-top:1px solid #e0e0e0;
}

.selected-branch .branch-level > li:before{
  border-left: 2px solid #3996ea;
  border-bottom: 2px solid #3996ea;
}
ul.horizontal {
  width: 100%;
}
.horizontal > li:last-child {
    float: right;
    margin-right: -10px;
}
