molecule-hierarchy-tree-branch ul.branch-level{
  padding-left: 30px;
  padding-right: 0;
}

.top-level{
  font-size: 24px;
  background: none;
}

.top-level{
  font-size: 24px;
}

.disabled-top-level{
  background: none !important;
  padding-top: 30px !important;
  padding-bottom: 15px !important;
  cursor: default !important;
}

li.branch-handler{
  background: #eee;
  cursor: pointer;
  padding: 10px;
  padding-right: 0;
}

li.branch-handler:hover{
  background: #ccc;
}

.toggleAllButton{
  padding: 10px 15px;
  background: #999;
  color: #ddd;
  cursor: pointer;
}

ng-checkbox{
  cursor: pointer;
}

.toggleAllButton.active{
  background: #38c;
  color: #FFF;
}

ul.horizontal{
  display: table;
}

ul.horizontal > li{
  display: table-cell;
}

.selected-branch .branch-handler{
  background: #3996ea;
  color: #fff;
}

.branch-handler{
  position: relative;
  margin-top: 15px;
}

molecule-hierarchy-tree-branch ul.branch-level > li.branch-handler:before {
  content: "";
  position: absolute;
  border-bottom:1px solid #ccc;
  border-left:1px solid #ccc;
  top:0;
  z-index: 0;
  bottom: 20px;
  left: -15px;
  right: 0;
  max-width: 10px;
}

molecule-hierarchy-tree-branch ul.branch-level > li.branch-handler {
  margin-top: 0px;
  border-top:1px solid #e0e0e0;
}

.selected-branch .branch-level > li:before{
  border-left: 2px solid #3996ea;
  border-bottom: 2px solid #3996ea;
}
ul.horizontal {
  width: 100%;
}

.horizontal > li:nth-child(3) {
    margin-right: -10px;
    text-align: right;
    font-size: 16px;
}
.top-level .horizontal > li:nth-child(3) span{
  padding: 12px 15px;
}

.unchecked-branch{
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  opacity: 0.5;
}

.unchecked-branch .unchecked-branch{
  opacity: 1.0;
}
