<ul *ngIf="ready" class="branch-level">
  <li class="branch-handler">
    <ul class="horizontal">
      <li>
        <ng-checkbox (click)="checkBoxClicked(checked)" [checked]="checked"></ng-checkbox>
      </li>
      <li>
        > {{branch._type}} <b>{{branch._name}}</b> - ({{branch._id}})
      </li>
      <li *ngIf="isArrayValue">
        <span [class.active]="branch._branches._all" class="toggleAllButton" (click)="toggleAllChilds()">
          ALL
        </span>
      </li>
    </ul>
  </li>
  <ng-container *ngIf="isArrayValue && checked">
  <li>
    <ul>
      <li *ngFor="let childBranch of branch._branches._value">
        <molecule-hierarchy-tree-branch (treeUpdated)="branchChanged()" (selected)="childChecked(childBranch)" [checked]="childBranch._checked" [parent]="branch" [branch]="childBranch"></molecule-hierarchy-tree-branch>
      </li>
    </ul>
  </li>
  </ng-container>
</ul>
