<ul *ngIf="ready" class="branch-level" [class.selected-branch]="branch._selected">
  <li class="branch-handler" (click)="branchClicked()">
    <ul class="horizontal">
      <li *ngIf="!output_branch_only">
        <ng-checkbox (click)="checkBoxClicked(checked)" [checked]="branch._checked"></ng-checkbox>
      </li>
      <li>
        > {{branch._type}} <b>{{branch._name}}</b> - ({{branch._id}})
      </li>
      <li *ngIf="isArrayValue && !output_branch_only">
        <span [class.active]="branch._branches._all" class="toggleAllButton" (click)="toggleAllChilds()">
          ALL
        </span>
      </li>
    </ul>
  </li>
  <ng-container *ngIf="isArrayValue">
  <li>
    <ul>
      <li *ngFor="let childBranch of branch._branches._value">
        <ng-container>
          <molecule-hierarchy-tree-branch
            [_checked]="childBranch._checked"
            [_selected]="childBranch._selected"
            [_parent_selected]="branch._selected"
            [single_value]="single_value"
            [branchSelectionList]="branchSelectionList"
            [output_branch_only]="output_branch_only"
            (treeUpdated)="branchChanged($event)"
            (selected)="childChecked(childBranch)"
            (branchClick)="branchClicked($event)"
            [parent]="branch"
            [branch]="childBranch"
          ></molecule-hierarchy-tree-branch>
        </ng-container>
      </li>
    </ul>
  </li>
  </ng-container>
</ul>
