<section>
  <div class="container" >
    <div class="row">
      <div class="col-12">
        <table class="table-style">
          <thead>
              <tr>
                <th>
                  <!-- <input name="" type="checkbox" value=""> -->
                </th>
                <ng-container *ngIf="parsedColumns">
                  <th *ngFor="let column of parsedColumns">
                    <span [innerHTML]="column.label || ''"></span>
                  </th>
                </ng-container>
                <th>
                  <span>Actions</span>
                </th>
              </tr>
          </thead>
            <tbody>
              <ng-container *ngFor="let item of list;let i = index">
                <tr>
                    <td>
                      <!-- <input name="" type="checkbox" value=""> -->
                    </td>
                    <ng-container *ngIf="parsedColumns">
                      <td *ngFor="let column of parsedColumns" [innerHTML]="getColumnData(item,column)">
                      </td>
                    </ng-container>
                    <td>
                    <span class="edit toggleButton" [class.active]="showEdition[i]" (click)="editOpen(i)">Quick edit</span>

                    <a *ngIf="item._type === 'instance'" class="edit" (click)="openEditInstance(i)" [routerLink]="['/instance',item._id]">Edit</a>
                    <molecule-remove (afterRemove)="showEdition[i] = false" [molecule]="item">
                      <span class="delete-post">Delete</span>
                    </molecule-remove>
                    </td>
                </tr>
                <tr *ngIf="showEdition[i]">
                   <td class="no-padding" [attr.colspan]="parsedColumns.length +2">
                     <div class="animated fadeIn">

                       <a href="javascript:void(0)" (click)="editOpen(i)" class="right"><i class="fa fa-times" style="color: #666;cursor:pointer;font-size: 20px;position:relative;z-index: 999; padding: 23px;"></i></a>
                        <molecule-renderer [data]="item" [component]="item._ngComponent"></molecule-renderer>
                       <div class="right">
                          <a href="javascript:void(0)" (click)="editOpen(i)" class="btn btn-cancel" style="float: none;">Cancel</a>
                          <molecule-save [type]="item._type" [molecule]="item">
                            <a href="javascript:void(0)" class="btn btn-save">Publish</a>
                          </molecule-save>
                       </div>

                     </div>
                   </td>
                </tr>
              </ng-container>
            </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
