<div [ngClass]="additional_classes">
  <label for="" class="label-form">{{data._name}}<span class="required-indicator" *ngIf="data._can._be_required">*</span>
    <ul *ngIf="data._can._edit || isDeveloper">
      <li (click)="editing = !editing">
        edit
      </li>
      <li>
        remove
      </li>
    </ul>
  </label>

  <molecule-edit *ngIf="editing" [molecule]="data"></molecule-edit>

  <div *ngIf="data._value && data._value.length > 0" >
    <div *ngIf="isImage()" style="position: relative;display: inline-block;">
      <div class="image-field-container">
       <img *ngIf="isImage()" src="{{data._value}}" alt="">
       <span (click)="openPanel()" *ngIf="data._can._edit_value || isDeveloper" class="edit-field">Edit image</span>
      </div>
    </div>

  <!--  <div (click)="data._value = ''" *ngIf="data._can._edit_value || userRole > 9000" class="fa fa-times" style="position: absolute; top: 38px; color: white; right: 0; padding: 10px; background: #af945c; width: 10px; cursor: pointer;"></div>-->
  </div>


  <!-- error message -->
  <div class="error-message" *ngIf="errors.length > 0 && data._can._be_required">
    <ul>
      <li *ngFor="let error of errors">- {{error}}</li>
    </ul>
  </div>

  <button (click)="openPanel()" *ngIf="(data._can._edit_value || isDeveloper) && (!data._value || data._value.length < 1) ">SELECT FILE</button>

  <s3-file-picker  *ngIf="(data._can._edit_value || isDeveloper) && panel" (close)="closePanel()" (fileSelected)="grabFiles($event)"></s3-file-picker>
</div>
