<molecule-select class="animated fadeIn" [useMolecules]="(useMolecules)? useMolecules : null" [max]="1" (valueChange)="updateMolecule($event)"></molecule-select>

<molecule-config class="animated fadeIn" *ngIf="['generator','cell'].indexOf(type)>-1" [molecule]="newMolecule"></molecule-config>
<molecule-renderer class="animated fadeIn" [data]="newMolecule" [component]="newMolecule._ngComponent" *ngIf="['instance'].indexOf(type)>-1 && newMolecule"></molecule-renderer>
<div class="animated fadeIn right" *ngIf="newMolecule" >
	<a href="javascript:void(0)" (click)="cancelCreation()" class="btn btn-cancel">Cancel</a>
	<molecule-save [type]="type" [molecule]="newMolecule">
	  <a href="javascript:void(0)" class="btn btn-save">Create</a>
	</molecule-save>
</div>

<!-- <button (click)="log(newMolecule)">LOG</button> -->
