<molecule-select [useMolecules]="(useMolecules)? useMolecules : null" [max]="1" (valueChange)="updateMolecule($event)"></molecule-select>

<molecule-config *ngIf="['generator','cell'].indexOf(type)>-1" [molecule]="newMolecule"></molecule-config>
<molecule-renderer [data]="newMolecule" [component]="newMolecule._ngComponent" *ngIf="['instance'].indexOf(type)>-1 && newMolecule"></molecule-renderer>

<molecule-save [type]="type" [molecule]="newMolecule">
  <a href="javascript:void(0)" class="btn btn-save">Create</a>
</molecule-save>
<a href="javascript:void(0)" (click)="cancelCreation()" class="btn btn-cancel">Cancel</a>
<!-- <button (click)="log(newMolecule)">LOG</button> -->
