.modal , .close-overlay{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999999999999;
}

.modal {
  overflow-y: scroll;
}

.close-overlay{
  position: fixed;
  background: rgba(0,0,0,0.7);
  z-index: 101;
}

.modal .floating-panel{
  display: table;
}

.floating-panel.centered{
  margin: 0 auto;
  height: 100%;
}

.modal .floating-panel.centered > div{
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}
