<div *ngIf="ready" class="box no-margin" [ngClass]="additional_classes">
  <div id="accordion" class="accordion">
    <div class="acc-panel">
      <h2 *ngIf="data._can._edit || isDeveloper" class="acc-title">
        <span [innerHTML]="data._name || data._type"></span>
        <ul class="edit-buttons">
          <li (click)="editing = !editing">
            <i class="fa fa-pencil" style="color: #888888;cursor:pointer;font-size: 16px;position:relative;z-index: 999; "></i>
          </li>
          <li>
            <i class="fa fa-times" style="color: #888888;cursor:pointer;font-size: 16px;position:relative;z-index: 999;"></i>
          </li>
        </ul>
      </h2>
      <molecule-edit *ngIf="editing" [molecule]="data"></molecule-edit>

      <div class="panel" *ngIf="!reduced">
        <ng-container *ngFor="let cell of data._value">
          <molecule-renderer *ngIf="cell._can._show || isDeveloper"  [data]="cell" [component]="cell._ngComponent" ></molecule-renderer>
        </ng-container>
        <div class="add-molecule" *ngIf="data._can._edit || isDeveloper ">
          <hr>
          <h3>Add Molecule</h3>
            <molecule-select [max]="1" (valueChange)="moleculeSelected($event)"></molecule-select>
            <molecule-config [molecule]="newMolecule"></molecule-config>
            <fusion (afterInsert)="resetMolecule($event)" [nodeInsert]="newMolecule" [node]="data"></fusion>
          <hr>
        </div>

      </div>
    </div>
  </div>
</div>
