<label for="" class="label-form">{{data._name | userlabel: userRole }}<span class="required-indicator" *ngIf="data._required">*</span>
<generator *ngIf="data._editable_field || userRole > 9000" [label]="'Edit ' + data._name" [path]="data._path" [edit]="data"><a class="fa fa-pencil"></a></generator>
<delete-btn *ngIf="data._delete_field || userRole > 9000" [path]="data._path"></delete-btn></label>
<div class="row">
  <div class="col-6">
    <label for="">Label</label>
    <input [disabled]="!(userRole > 9000 || data._editable_value)" type="text" [(ngModel)]="data._value.label" (keyup)="setValue($event)" class="input-form">
  </div>
  <div class="col-6">
    <label for="">URL</label>
    <input [disabled]="!(userRole > 9000 || data._editable_value)" type="text" [(ngModel)]="data._value.url" (keyup)="setValue($event)" class="input-form">
  </div>
</div>

<!-- error message -->
<div class="error-message" *ngIf="errors.length > 0 && data._required">
  <ul>
    <li *ngFor="let error of errors">- {{error}}</li>
  </ul>
</div>
