<modal *ngIf="panel">
  <div class="container">

    <h2 class="acc-title">
      New Site
      <ul class="edit-buttons">
        <li><a (click)="hidePanel()" *ngIf="!savingData"><i class="fa fa-times" style="color:#000;color: #666;cursor:pointer;"></i></a></li>
      </ul>
    </h2>
    <div class="panel">
      <div class="row">
        <div class="col-4">
          <label for="" class="label-form">Domain*</label>
          <div class="box-select">
            <input [(ngModel)]="domain" type="text" class="input-form" />
          </div>
        </div>
        <div class="col-4">
          <label for="" class="label-form">Name</label>
          <div class="box-select">
            <input [(ngModel)]="name" type="text" class="input-form" />
          </div>
        </div>
        <div class="col-4">
          <label for="" class="label-form">Icon</label>
          <div class="box-select">
            <div *ngIf="icon.length > 0" >
              <div (click)="icon = ''">delete</div>
              <img style="width:100%;max-width:350px;" [src]="icon" alt="">
            </div>

            <button (click)="s3openPanel()">SELECT FILE</button>
            <s3-file-picker *ngIf="s3panel" (close)="s3closePanel()" [accept]="['.jpg','.jpeg','.png','.gif','.bmp','.tif','.svg']" (fileSelected)="s3grabFiles($event)"></s3-file-picker>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <label for="" class="label-form">Start from</label>
          <div class="box-select">
            <div *ngIf="!ready">Loading sites...</div>
            <input *ngIf="ready" auto-complete [value-formatter]="formatSelection"  [list-formatter]="formatSelection" [(ngModel)]="baseSite" [source]="sites" />
          </div>
        </div>
      </div>
      <div class="box-buttons cf">
        <spinner *ngIf="savingData"></spinner>
        <a (click)="hidePanel()" *ngIf="!savingData" class="btn btn-cancel">CANCEL</a>
        <a (click)="save()" *ngIf="!savingData" class="btn btn-save">CREATE</a>
      </div>

    </div>  <!-- PANEL END -->
  </div>  <!-- CONTAINER END -->
</modal>

<a *ngIf="!panel" (click)="showPanel()" class="btn-add">{{label || 'ADD NEW SITE'}}</a>
