<div class="box">
  <div id="accordion" class="accordion">
    <div class="acc-panel">
      <h2 class="acc-title">
        <a class="reduceButton" (click)="reduced = !reduced">
          <span *ngIf="!reduced" class="fa fa-angle-down"></span>
          <span *ngIf="reduced" class="fa fa-angle-up"></span>
          {{data._name | userlabel: userRole }}
        </a>
        <span class="required-indicator" *ngIf="data._required">*</span>
        <ul class="edit-buttons">
          <li *ngIf="data._editable_field || userRole > 9000"><generator [label]="'Edit ' + data._name" [path]="data._path" [edit]="data"><a class="fa fa-pencil"></a></generator></li>
          <li><delete-btn *ngIf="data._delete_field || userRole > 9000" [path]="data._path"></delete-btn></li>
        </ul>
      </h2>
      <div class="panel" *ngIf="!reduced">
        <child [userRole]="userRole" [data]="data"></child>
        <!-- error message -->
        <div class="error-message" *ngIf="ready && data._child.length < 1 && data._required">
          <ul>
            <li>This List can not remain empty.</li>
          </ul>
        </div>
        <generator *ngIf="data._editable_value || userRole > 9000" [noModal]="true" [noName]="true" [defaultValues]="{_filter : data._filter , _useComponents : ['Slide']}" [components]="['Slide']" [path]="data._path" [label]="'ADD TO ' + data._name" style="text-transform: uppercase;"></generator>
      </div>
    </div>
  </div>
</div>
