<div class="slide" [class.ready]="ready">
  <owl-carousel [options]="carouselOptions" [items]="3">
    <div class="item" *ngFor="let event of events ;  let i=index ">
      <div class="box-caption" >
        <div class="box-data-slider">
          <h2>{{event.title | uppercase | truncate : 20 }}</h2>
          <a class="button brand-border" href="https://staging.ticketdriver.com/{{config.get().site.venue.friendly_id}}/buy/tickets/event/{{event.id}}"><span class="text-node trans-300">TICKETS</span></a>
          <a class="button brand-border" ><span class="text-node trans-300">VIP TABLES</span></a>
        </div>
      </div>
      <img src="/demo-site/images/slide-001.jpg" alt="">
    </div>
    </owl-carousel>
</div>

<spinner [ready]="ready"></spinner>
