.checkbox-box{
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
  border: 1px solid #aaa;
  border-radius: 3px;
}

.checkbox-mark{
  position: absolute;
  top:-45%;
  left:0;
  right: auto;
  bottom: 0;
  width: 0;
  height: 150%;
  font-size: 24px;
  text-shadow: 1px 1px 0 #fff;
  overflow: hidden;
  color: #1b79e2;
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -ms-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}

.checked .checkbox-mark{
  width: 150%;
}
