<section class="box-gallery">
  <div class="gallery cf">
    <% home.image_gallery.images.forEach((image)=>{ %>
      <a href="<%= image %>">
        <img src="<%= image %>" />
      </a>
    <% }) %>
  </div>
</section>
