<section class="box-subscribe brand-bg">
  <div class="container">
    <div class="cols">
      <h3>NEWSLETTER</h3>
      <p>Get on the insiders mailing list.</p>
    </div>
    <div class="cols last">
      <form action="" class="form-subscribe">
        <input type="text"><button>SUBSCRIBE</button>
      </form>
    </div>
  </div>
</section>
