<label for="" class="label-form">{{data._name | userlabel: userRole }}<span class="required-indicator" *ngIf="data._required">*</span>
<generator *ngIf="data._editable_field || userRole > 9000" [label]="'Edit ' + data._name" [path]="data._path" [edit]="data"><a class="fa fa-pencil"></a></generator>
<delete-btn *ngIf="data._delete_field || userRole > 9000" [path]="data._path"></delete-btn></label>

<venue-select [currentValue]="data._value" (valueChange)="setValue($event)" (listReady)="ready=true" [disabled]="!(userRole > 9000 || data._editable_value)"></venue-select>

<!-- ERROR MESSAGE -->
<div class="error-message" *ngIf="errors.length > 0 && data._required">
  <ul>
    <li *ngFor="let error of errors">- {{error}}</li>
  </ul>
</div>
