<!doctype html>
<html lang="en">
<head>
	<base href="/" >
	<meta charset="UTF-8">
	<title>HK - Composer</title>

	<meta name="revisit-after" content="30 days">
	<meta name="robots" content="index,follow">
	<meta name="distribution" content="global">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="stylesheet" href="css/style.css">
	<style media="screen">
		.login-logo{
			width: 100%;
			max-width:700px;
			margin-bottom: 165px;
		}
	</style>
</head>
<body class="cbp-spmenu-push" style="height:100%">


  <div class="box-login">
		<div class="login">
			<img src="/images/composer-white.png" class="login-logo" alt="logo">
			<div class="box-login-cms">
				<h2><i class="fa fa-lock" aria-hidden="true"></i>SIGN IN</h2>
				<form action="/login" class="cms-login" method="post">
					<input type="text" placeholder="username" name="username">
					<input type="password" placeholder="password" name="password">
					<button type="submit"></button>
				</form>
			</div>
		</div>
	</div>

</body>
</html>
