<section>
  <div class="container post-layout">
	<div class="col-2 right">
		<a class="btn btn-save">Publish</a>
		<a class="btn btn-draft">Save as draft</a>
		<a class="btn btn-trash">Delete</a>
	</div>
	<div class="col-10 left">
	  <span class="small">Title</span>
	  <input type="text" value="Brody Jenner djing his Vegas birthday bash" class="post-title">
	  <span class="small">URL</span>
	  <input type="text" value="http://thebanklasvegas.com/news/brody_jenner_djing_his_vegas_birthday_bash">
	  <span class="small">Image</span>
	  <div class="image-wrapper">
	    <img src="./images/placeholder.jpg" alt="">
	    <span class="edit-post">Edit image</span>
	  </div>
	  <span class="small">Content</span>
	  <span class="small">Categories</span>
	  <div class="categories">
	  	<span class="tag">News</span>
	  	<span class="tag tag-add">Add Tag</span>
	  </div>
	</div>
  </div>
</section>