<h1>GENERATOOOOORRRR MULTISITE</h1>
<section>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<molecule-create></molecule-create>
			</div>
		</div>
			<div class="row">

				<div class="col-t-6 col-4" >
					<a class="to-site">
                            <div class="aspect-ratio">
                                <div class="aspect-ratio-content">
                                    <figure>
                                        <img src="https://s3-us-west-1.amazonaws.com/assets.portaldriver.com/hakkasanlv/3572e03b5e3589ea530a1add0e02dc47.png" class="brand-icon" alt="">
                                    </figure>
                                </div>
                            </div>
                            <!-- <figure class="box-brand-icon">
							<img [src]="site._icon" class="brand-icon" alt="">
						</figure> -->
						<div class="box box-details">
  						    <h2>sasa</h2>
							<p>sarasa</p>
						</div>
					</a>
				</div>

			</div>
	</div>
</section>
