<section *ngIf="ready">
  <div class="container table-layout card-layout">
    <div class="row">
      <div class="col-12">
          <h1 class="title">{{data._options._title}}</h1><a *ngIf="data._can._edit || isDeveloper" href="javascript:void(0);" (click)="show_generator_edit_form = !show_generator_edit_form"><i class="fa fa-pencil"></i></a>
          <div class="right">
            <form class="search"><input id='submit' name='submit' type="submit" value="search" class="btn search-btn"><label for="submit" class="submit"></label><a href="javascript: void(0)" class="search-icon"></a><input type="text" class="search-field"></form>
            <a class="btn-add" (click)="show_new_molecule_form = !show_new_molecule_form" [innerHTML]="(data._options._molecule_types._value.length>1)? 'ADD NEW': 'ADD NEW '+data._options._molecule_types._value[0]._name"></a>
          </div>
      </div>
    </div>
  </div>

  <div class="box box-editor" *ngIf="show_generator_edit_form">
    <div class="col-12">
    <a (click)="show_generator_edit_form = !show_generator_edit_form" class="right"><i class="fa fa-times" style="color:#000;color: #666;cursor:pointer;font-size: 20px;"></i></a>
      <molecule-config [molecule]="data"></molecule-config>

      <molecule-save [type]="data._type" [molecule]="data">
        <div class="btn btn-save">SAVE</div>
      </molecule-save>
    </div>
  </div>

  <div class="box box-creator" *ngIf="show_new_molecule_form">
   <a (click)="show_new_molecule_form = !show_new_molecule_form" class="right"><i class="fa fa-times" style="color:#000;color: #666;cursor:pointer;font-size: 20px;"></i></a>
    <molecule-create [generator]="data" [type]="'instance'" [useMolecules]="data._options._molecule_types._value" ></molecule-create>
  </div>
</section>

<molecule-renderer
  *ngIf="ready"
  [component]="getComponent(selectedLayout)"
  [options]="{instances : instances}"
  [data]="data"
  >
</molecule-renderer>
