<page>
  <page-header></page-header>
  <main >
		<section>
			<div class="container" *ngIf="ready">



				<div class="col-12">
				  <div class="box">
				    <div id="accordion" class="accordion">
				      <div class="acc-panel">
				        <h2 class="acc-title">
			            New Generator
				          <ul class="edit-buttons">

				          </ul>
				        </h2>
				        <div class="panel" *ngIf="!reduced">

									<label for="" class="label-form">Name*</label>
				          <div class="box-select">
				            <input [(ngModel)]="name" type="text" class="input-form" />
				          </div>

									<label for="">Structure</label>
									<div class="box-select">
										<input
										*ngIf="ready"
										placeholder=""
										auto-complete
										(ngModelChange)="emitValue($event)"
										[(ngModel)]="structure"
										[source]="['Single Project','Multi Project']" />
									</div>

									<label for="">Layout</label>
									<div class="box-select">
										<input
										*ngIf="ready"
										placeholder=""
										auto-complete
										(ngModelChange)="emitValue($event)"
										[(ngModel)]="layout"
										[source]="['Table','Left Column']" />
									</div>

									<label for=""></label>
									<div class="box-select">
										<div (click)="use_only_childs = !use_only_childs" class="checkbox" [class.checked]="use_only_childs">
								        <ng-checkbox [checked]="use_only_childs"></ng-checkbox>
								        <span class="checkbox-label">
								          Use Only Childs
								        </span>
								    </div>
									</div>

									<label for="">Use Molecules</label>
									<div class="box-select">
										<molecule-select [max]="0" (valueChange)="moleculeSelected($event)"></molecule-select>
									</div>

									<div class="box-buttons cf">
						        <spinner *ngIf="savingData"></spinner>
						        <a (click)="createGenerator()" *ngIf="!savingData" class="btn btn-save">CREATE</a>
						      </div>
				        </div>
				      </div>
				    </div>
				  </div>
				</div>
				<div class="col-12">
				  <table>
				    <thead>
				      <tr>
				        <td>Name</td>
								<td>Actions</td>
				      </tr>
				    </thead>
						<tbody>
	            <tr *ngFor="let generator of generatorList">
								<td>{{generator._type}}</td>
								<td>
									<a href="javascript:void(0);" (click)="edit(generator)">
										<span class="fa fa-pencil"></span> Edit
									</a>
									<a href="javascript:void(0);" (click)="remove(generator)">
										<span class="fa fa-times"></span> Remove
									</a>
								</td>
								<td *ngIf="editingList[generator._id]">
                  <molecule-renderer [data]="generator" ></molecule-renderer>
								</td>
	            </tr>
	          </tbody>
				  </table>
				</div>




			</div>
		</section>
	</main>
  <page-footer></page-footer>
</page>
