<div [ngClass]="additional_classes">
	<label for="" class="label-form">{{data._name | userlabel: userRole }}<span class="required-indicator" *ngIf="data._can._be_required">*</span>
	<div class="edit-buttons" *ngIf="data._can._edit || isDeveloper">
		<ul>
			<li (click)="editing = !editing">
				edit
			</li>
			<li>
				remove
			</li>
		</ul>
	</div></label>
	<molecule-edit *ngIf="editing" [molecule]="data"></molecule-edit>
	<input *ngIf="data._options._use_textarea != true" type="text" [(ngModel)]="data._value" (keyup)="setValue($event)" class="input-form">

	<ckeditor
		*ngIf="data._options._use_textarea"
	  [(ngModel)]="ckeditorContent"
	  [config]="{
	    uiColor: '#999999',
	    removeButtons : '',
	    removePlugins : 'font'
	  }"
	  [readonly]="false"
	  debounce="500">
	</ckeditor>

	<!-- error message -->
	<div class="error-message" *ngIf="errors.length > 0 && data._required">
	  <ul>
	    <li *ngFor="let error of errors">- {{error}}</li>
	  </ul>
	</div>
</div>
